<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 전체 경로 -->
<mapper namespace="com.green.user.dao.UserMapper">

	<!-- 회원가입하기 -->
	<insert id="register" parameterType="UserDto">
		INSERT INTO USER_INFO(ID, PWD, NAME, EMAIL, BIRTH, SNS)
		VALUES(#{id}, #{pwd}, #{name}, #{email}, #{birth}, #{sns})
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="idOverlap" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE ID=#{id}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="UserDto">
		SELECT ID, PWD
		FROM USER_INFO
		WHERE ID=#{id} AND PWD=#{pwd}
	</select>
</mapper>